<% if @order and @order.errors.any? %>
  <div>
    <div>
      The form contains <%= pluralize(@deal.errors.count, "error") %>
    </div>
    <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
