<div>
  <div>
    <%= form_for(@order) do |f| %>
      <%= render 'shared/error_messages_order' %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button stripe-override"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Charge"
              data-amount="<%=@deal.wholesale_price_cents%>">
      </script>
    <% end %>
  </div>
</div>
