<html>
<head>
	<title>How It Works</title>
</head>

<body>

<h2>The future of fashion will be crowdsourced</h2>

We design, you back our product, we deliver. Nobody making premium menswear has ever done this before. We believe it’s the ideal way to build the products we love, and deliver quality to you at a radical price-point.

<div>


<h3>FAQ<h3>
<h4>So how does it work?</h4>
	We design boutique-quality handmade menswear. We create a campaign for an item, you back it. Once the number of items backed reaches the campaign goal, the item is successfully funded and we start production.
<br>
<h4>When do I pay?</h4>
When you hit “Back it!”, you’re not paying immediately. We’ll validate your credit card number initially, and charge you when the item reaches its funding goal. If the item reaches its funding deadline without reaching its goal, you will not be charged.
<br>
<h4>When will my items be shipped?</h4>
The expected shipping date is listed on each item’s product page.
<br>
<h4>Can an item be funded more than 100%?</h4>
No, we stop taking orders for an item when the goal number is hit.
<br>
<h4>Can I exchange or return an item after I receive it?</h4>
Unlike other brands, we don’t carry inventory. This helps us keep our prices low, but makes exchanges a bit trickier. We’ll do our best to facilitate swapping out unworn, unwashed and unaltered items for a similar style or store credit. If you have any questions don't hesitate to email us.
<h4>Do you ship internationally?</h4>
Absolutely - we've sent Gustins to over 50 countries! Just select international shipping when you check out.
<br>
<h4>Do you have any items in stock that I can buy now?</h4>
No, sorry! We keep very limited inventory in our shop for returns, and don't offer them for sale.

</div>

</body>
</html>
