<html>
<head>
	<title>How It Works</title>
</head>
<body>




<h2>The future of fashion will be crowdsourced</h2>

We design, you back our product, we deliver. Nobody making premium menswear has ever done this before. We believe it’s the ideal way to build the products we love, and deliver quality to you at a radical price-point.

<div>


<h4>FAQ<h4>
So how does it work?
<br>
We design boutique-quality handmade menswear. We create a campaign for an item, you back it. Once the number of items backed reaches the campaign goal, the item is successfully funded and we start production.
When do I pay?
<br>
When you hit “Back it!”, you’re not paying immediately. We’ll validate your credit card number initially, and charge you when the item reaches its funding goal. If the item reaches its funding deadline without reaching its goal, you will not be charged.
Can I change my size / address?
<br>
You can change your size until we start production, and your address until the order ships. Just click edit on your order page to change this information.
When will my items be shipped?
<br>
The expected shipping date is listed on each item’s product page.
Can an item be funded more than 100%?
<br>
No, we stop taking orders for an item when the goal number is hit.
Can I exchange or return an item after I receive it?
<br><br><br>
Unlike other brands, we don’t carry inventory. This helps us keep our prices low, but makes exchanges a bit trickier. We’ll do our best to facilitate swapping out unworn, unwashed and unaltered items for a similar style or store credit. If you have any questions don't hesitate to email us.
Do you ship internationally?
<br><br>
Absolutely - we've sent Gustins to over 50 countries! Just select international shipping when you check out.
Do you have any items in stock that I can buy now?
<br>
No, sorry! We keep very limited inventory in our shop for returns, and don't offer them for sale.
Can you ship me a couple pairs of jeans to try on so I can figure out my size?
<br>
Unfortunately not - our business model means we keep very limited inventory on hand.
Do you guys offer custom inseams? Or can I pay more to have you hem my jeans to my inseam length?
<br>
We only offer the standard inseam lengths at this time. We recommend AB Fits in San Francisco for hemming - they charge $15 for chainstitched hemming on Gustins.


</div>

</body>
</html>