<%= provide(:title, "Edit Deal") %>
<h1>Edit Deal</h1>
<div>
<%= render 'edit_form' %>
</div>
<br>
<%= link_to 'Delete deal', deal_path, class: "delete-link", method: :delete, data: { confirm: 'Are you sure you want to destroy this deal?'} %>
