/*// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
  background-color: #C4FFD6
}

h1 {
  text-align: center;
  font-family: "baskerville";
  color: #62008F
}

img {
  width: 250px;
  height: auto;
}
p {
  font-family: "baskerville";
  text-align: center;
  color: #62008F;
}

ul {
  display: inline;
  font-family: "baskerville";
}
#form {
  text-align: center;
  color: #62008F;
}

#section {
    font-family: "baskerville";
    font-weight: bold;
    width:350px;
    float:left;
    padding-left: 50px;
    border: groove;
}
.retail{
  text-decoration: line-through;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
