<footer>
  <div class="support">
    Contact us:<br>
    Email: <%= mail_to "support@thebulk.co" %><br>
    <%= link_to "Privacy Policy", "#", class: "privacy" %>
    <span class="copy">&copy; 2015</span>
  </div>
</footer>
